#memory-board, #descriptionDiv{

    background: #CCC;
    border: #000 2px solid;
    width: 600px;
    height: 450;
    padding: 20px;
    margin: 5px auto;
    text-align: center;
}

.xboxPic, .playPic, .dreamcastPic, .steamPic, .wiiPic{

    border: #000 1px solid;
    margin: 15px 15px;
    width:200px;
    height:100px;
}
